# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Dependency folders if this project is migrated to a JS framework later
node_modules/
dist/
build/

# Local env files
.env
.env.local
